/* style001.css */

body
{
    background-color: rgb(30, 30, 30);
    font-family: Arial;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

button
{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    margin: 2px;
    font-size: 15px;
}

button:hover
{
    border-color: rgb(0, 255, 255);
}

button:active
{
    color: rgb(0, 255, 255);
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

